<header>
  <div class="header__content">
    <div class="update">
      <i class="fa fa-refresh" aria-hidden="true"></i>
      <span class="last-update">{{meta.update | date:'dd/MM/yyyy @ HH:mm'}}</span>
    </div>
    <div class="title">
      <p>horizon 2017</p>
    </div>
    <div class="sources">
      <div class="sources--placeholder"></div>
      <div class="sources--info">
        <div class="algo">
          <a>%</a>
          <i class="fa fa-cog" aria-hidden="true"></i>
          <a>Données</a>
          <a class="sources__name">Filteris/Euromediations</a>
        </div>
      </div>
    </div>
  </div>
</header>
