<div class="streamer">
  <div class="streamer--left">
    <div class="streamer__color" [style.background]="personality.color"></div>
    <img class="portrait" src="{{'http://goo.gl/' + personality.imgurl }}">
    <div class="streamer__candidate">
      <a href="" class="party" [style.color]="personality.color">{{personality.party}}</a>
      <div class="name">
        <span class="name__name">{{personality.name}}</span>
        <span class="name__surname">{{personality.surname}}</span>
        <div>
          <span class="name__sponsors" [style.background]="personality.color">
            <span>{{personality.sponsors}}</span>
          </span>
          <span class="name__sponsors--legend" [style.color]="personality.color">parrainages</span>
        </div>
      </div>
    </div>
  </div>
  <div class="streamer--right">
    <div class="streamer--figures">
      <a mdTooltipPosition="before" mdTooltip="Adhérents au parti" href="{{'http://goo.gl/' + personality.program }}" [style.color]="personality.color">{{(personality.partysize | number ) || 'N/A'}} <i class="fa fa-users"></i></a>
      <a mdTooltipPosition="before" mdTooltip="Abonnés youtube" class="yt" href="{{'http://goo.gl/' + personality.ytlink }}">{{(personality.ytsize | number ) || 'N/A'}} <i class="fa fa-youtube-play"></i></a>
      <a mdTooltipPosition="before" mdTooltip="Likes facebook" class="fb" href="{{'http://goo.gl/' + personality.fblink }}">{{(personality.fbsize | number ) || 'N/A'}} <i class="fa fa-facebook-official"></i></a>
      <a mdTooltipPosition="before" mdTooltip="Abonnés twitter" class="tw" href="{{'http://goo.gl/' + personality.twtlink }}">{{(personality.twtsize | number) || 'N/A'}} <i class="fa fa-twitter-square"></i></a>
    </div>
    <div class="right">
      <a class="program-btn" href="{{'http://goo.gl/' + personality.program }}" [style.background]="personality.color">PROGRAMME</a>
      <span mdTooltipPosition="before" mdTooltip="Simulation du vote en date du jour de rafraichissement calculé par Filteris/Euromédiations" class="filteris__data" [style.color]="personality.color">{{personality.filteris * 100 | number:'2.2-2' }}</span>
    </div>
  </div>
</div>

