html,
body,
.viewport {
  background-color: #EEEEEE;
  display: flex;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  width: 100%;
}

%md-card-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

hrz-root {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

hrz-header {
  @extend %md-card-shadow;
  background-color: #FAFAFA;
  height: 50px;
  margin-bottom: .3rem;
  position: fixed;
  left: 0;
  width: 100%;
}

hrz-race {
  margin-top: 50px;
  max-width: 768px;
  width: 100%;
}

.race {
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  max-width: 768px;
}

.streamer {
  @extend %md-card-shadow;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  width: 100%;

  &__candidate {
    display: flex;
    flex: 1 0 content;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: .1rem;
    margin-bottom: .1rem;
  }
  &--left {
    display: flex;
  }
  &--right {
    display: flex;
    margin: .5rem;
  }
  &__color {
    width: .3rem;
  }
  &--figures {
    align-items: flex-end;
    color: #616161;
    display: flex;
    font-size: .85rem;
    flex-direction: column;
    justify-content: center;
    > a {
      text-decoration: none;
      color: #616161;
    }
  }
}

.yt {
  &:hover, &:active {
    color: #D50000;
  }
}

.fb {
  &:hover, &:active {
    color: #3F51B5;
  }
}

.right {
  display: flex;
  flex-direction: row;
}

.program-btn {
  border-radius: .3rem;
  color: #FAFAFA;
  display: flex;
  font-size: .8rem;
  flex-direction: column;
  height: 4rem;
  justify-content: center;
  letter-spacing: .1rem;
  margin-left: .5rem;
  text-align: center;
  text-decoration: none;
  width: 8rem;
  &:hover {
    @extend %md-card-shadow;
  }
}

.fa.fa-list-ul {
  align-self: center;
  color: #FAFAFA;
  font-size: larger;
  opacity: 0.5;
  padding: 0;
}

.filteris__data {
  align-self: center;
  font-size: 4.5rem;
  height: inherit;
  margin-left: .5rem;
}

.name {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1rem;
  text-align: left;
  text-transform: uppercase;

  &__name {
    font-size: 1.3rem;
    letter-spacing: .2rem;
    margin: 0;
  }

  &__surname {
    font-size: small;
  }
}

.party {
  color: #212121;
  font-size: .7rem;
  letter-spacing: .1rem;
  margin-left: .1rem;
  padding: 0 0 0 1rem;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.portrait {
  align-self: center;
  border-radius: 50%;
  height: 4rem;
  margin-left: 1rem;
  object-fit: cover;
  width: 4rem;
}

.candidate {
  background-color: white;
  background-size: cover;
  border-top: none;
  display: flex;
  flex: 1;
  margin: .2rem;
}

/* TEMPORARY PORTRAIT SCREEN WARNING MESSAGE */
#warning-message {
  display: none;
}

@media only screen and (orientation: portrait) {
  body, html {
    background-color: #448AFF;
  }

  #wrapper {
    display: none;
  }

  #warning-message {
    margin: 20%;
    display: inline-flex;
    color: #E3F2FD;
  }
}

@media only screen and (orientation: landscape) {
  #warning-message {
    display: none;
  }
}
